@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /*COLORZ*/
  --white: #F4F4F4;
  --blue: #0A5575;
  --skyblue: #00B2FF;
  --nuovo: #151D20;
  /*FONTS*/
  --text: "Montserrat", sans-serif;
  --title: "Audiowide", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--text);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--white);
}

section {
  width: 100%;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}
.header .logo-container {
  z-index: 6;
}
.header .logo-container .logo-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--blue);
  margin: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}
.header .logo-container .logo-bars span {
  display: block;
  width: 3px;
  height: 25px;
  background-color: var(--blue);
  border-radius: 2px;
}
.header .logo-container #bar-1 { /* IZQ | */
  transform: translate(-6px, 0px);
  border-radius: 2px;
}
.header .logo-container #bar-2 { /* IZQ \ */
  transform: rotate(-42deg) translate(1px, -8px);
  height: 15px;
}
.header .logo-container #bar-3 { /* IZQ / */
  transform: rotate(42deg) translate(-1px, 19px);
  height: 7px;
}
.header .logo-container #bar-4 { /* DER / */
  transform: rotate(42deg) translate(-1px, -11px);
  height: 20px;
}
.header .logo-container #bar-5 { /* DER | */
  transform: translate(7px, 0px);
}
.header .nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 65px;
  right: 0;
  width: 70%;
  padding: 1rem;
  border-radius: 0 0 0 15px;
  background-color: var(--white);
  transform: translateX(70vw);
  transition: transform 0.6s ease-in-out;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 4;
  overflow-x: hidden;
}
.header .nav .nav-bar {
  width: 100%;
}
.header .nav .nav-bar .nav-item {
  list-style: none;
  margin-bottom: 2rem;
}
.header .nav .nav-bar .nav-item .nav-link {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue);
}
.header .nav .redes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 1rem;
}
.header .nav .redes .fa-instagram, .header .nav .redes .fa-whatsapp, .header .nav .redes .fa-envelope, .header .nav .redes .fa-linkedin {
  font-size: 20px;
  color: var(--blue);
  transition: 0.5s;
}
.header .nav .redes .fa-instagram:hover, .header .nav .redes .fa-whatsapp:hover, .header .nav .redes .fa-envelope:hover, .header .nav .redes .fa-linkedin:hover {
  transform: translateY(-10px);
}
.header .nav .redes .fa-envelope {
  padding-left: 0;
}
.header .nav-bar-show {
  transform: translateX(0vw);
}
.header .bars-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 6;
}
.header .bars-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--blue);
  transform-origin: 0px 100%;
  transition-property: translate rotate opacity;
  transition-duration: 500ms;
  border-radius: 2px;
}
.header .bars-menu .line2-bar {
  width: 75%;
}
.header .bars-menu .line3-bar {
  width: 45%;
}
.header .bars-menu .activeLine1-bar {
  transform: rotate(45deg) translate(2px, -3px);
}
.header .bars-menu .activeLine2-bar {
  opacity: 0;
  margin-left: -30px;
}
.header .bars-menu .activeLine3-bar {
  width: 100%;
  transform: rotate(-45deg) translate(3px, 4px);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  margin-top: 100px;
}
.intro h2 {
  font-family: var(--text);
  font-size: 12px;
  font-weight: 500;
  color: var(--blue);
  text-align: center;
  font-size: 12px;
}
.intro h1 {
  font-family: var(--text);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
  background: linear-gradient(90deg, rgb(10, 85, 117) 0%, rgb(7, 107, 149) 38%, rgb(5, 134, 189) 60%, rgb(3, 151, 215) 84%, rgb(0, 178, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro p {
  font-family: var(--text);
  font-size: 12px;
  font-weight: 500;
  color: var(--blue);
  text-align: center;
  font-size: 12px;
}
.intro .btn-gradient {
  display: inline-block;
  border-radius: 15px;
  background-image: linear-gradient(90deg, rgb(10, 85, 117) 0%, rgb(7, 107, 149) 38%, rgb(5, 134, 189) 60%, rgb(3, 151, 215) 84%, rgb(0, 178, 255) 100%);
  margin-top: 3rem;
  padding: 4px;
}
.intro .btn-gradient .btn {
  width: 130px;
  height: 40px;
  border: 3px solid;
  border-radius: 10px;
  background-color: var(--white);
  border: none;
  cursor: pointer;
}
.intro .btn-gradient .btn a {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, rgb(10, 85, 117) 0%, rgb(7, 107, 149) 38%, rgb(5, 134, 189) 60%, rgb(3, 151, 215) 84%, rgb(0, 178, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro .indicador {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5em;
  opacity: 0.2;
  animation: arrow 2s ease-in-out infinite;
}
.intro .indicador a {
  color: var(--blue);
}

@keyframes arrow {
  0% {
    transform: translate(-50%, -10px);
  }
  50% {
    transform: translate(-50%, 0px);
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -10px);
  }
}

/*# sourceMappingURL=design.css.map */
