.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .25);
    background-color: var(--white);
    .logo-container{
        z-index: 6;
        .logo-bars{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            border: 2px solid var(--blue);
            margin: .5rem;
            border-radius: 3px;
            cursor: pointer;
            transition: all .5s;
            span{
                display: block;
                width: 3px;
                height: 25px;
                background-color: var(--blue);
                border-radius: 2px;
            }
        }
        #bar-1{/* IZQ | */
            transform: translate(-6px,0px);
            border-radius: 2px;
        }
        #bar-2{/* IZQ \ */
            transform: rotate(-42deg) translate(1px,-8px);
            height: 15px;
        }
        #bar-3{/* IZQ / */
            transform: rotate(42deg) translate(-1px,19px);
            height: 7px;
        }
        #bar-4{/* DER / */
            transform: rotate(42deg) translate(-1px,-11px);
            height: 20px;
        }
        #bar-5{/* DER | */
            transform: translate(7px,0px);
        }
    }
    .nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 65px;
        right: 0;
        width: 70%;
        padding: 1rem;
        border-radius: 0 0 0 15px;
        background-color: var(--white);
        transform: translateX(70vw);
        transition: transform .6s ease-in-out;
        box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: .5);
        overflow-x: hidden;
        .nav-bar{
            width: 100%;
            .nav-item{ 
                list-style: none;
                margin-bottom: 2rem;
                .nav-link{
                    text-decoration: none;
                    font-size: 22px;
                    font-weight: 500;
                    color: var(--blue);
                }
            }
        }
        .redes{
            display: flex;
            justify-content: space-evenly;
            margin-top: 1rem;
            padding: 1rem;
            .fa-github, .fa-whatsapp, .fa-envelope, .fa-linkedin{
                font-size: 20px;
                color: var(--blue);
                transition: .5s;
                &:hover{
                    transform: translateY(-10px);
                }
            }
            .fa-envelope{
                padding-left: 0;
            }
        }
    }
    .nav-bar-show{
        transform: translateX(0vw);
    }
    .bars-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        width: 3rem;
        height: 3rem;
        margin: .5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s;
        z-index: 6;
        span{
            display: block;
            width: 100%;
            height: 5px;
            background-color: var(--blue);
            transform-origin: 0px 100%;
            transition-property: translate rotate opacity;
            transition-duration: 500ms;
            border-radius: 2px;
        }
        .line2-bar{
            width: 75%;
        }
        .line3-bar{
            width: 45%;
        }
        .activeLine1-bar{
            transform: rotate(45deg) translate(2px, -3px); 
        }
        .activeLine2-bar{
            opacity: 0;
            margin-left: -30px; 
        }
        .activeLine3-bar{
            width: 100%;
            transform: rotate(-45deg) translate(3px, 5px);
        }
    }
}
@media (min-width: 768px){
    .header{
        height: 100px;
        padding: 0 2rem;
        .nav{
            justify-content: space-between;
            position: unset;
            width: auto;
            height: 100%;
            padding: 1rem;
            border-radius: 0 0 0 0;
            transform: translateX(0vw);
            box-shadow: none;
            .nav-bar{
                display: flex;
                .nav-item{ 
                    margin-bottom: 0;
                    margin-left: 1rem;
                    padding: 5px 10px;
                    border-radius: 5px;
                    transition: box-shadow .2s ease-in-out;
                    &:hover{
                        box-shadow: 0 0 5px rgba($color: #000000, $alpha: .1);
                    }
                }
            }
            .redes{
                display: flex;
                justify-content: end;
                margin-top: 0;
                padding: 0;
                order: -1;
                .fa-github, .fa-whatsapp, .fa-envelope, .fa-linkedin{
                    margin-left: 1rem;
                }
                .fa-whatsapp{
                    margin-right: 10px;
                }
            }
        }
        .bars-menu{
            display: none;
        }
    }
}