.proyects{
    .proyects-container{
        padding: 1em;
        .proyects-list{
            position: relative;
            border-left: 1px solid var(--beige);
            .proyect-item{
                @extend .n-text;
                padding-left: 2em;
                margin-bottom: 2em;
                list-style: none;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: -8px;
                    width: 1em;
                    height: 1em;
                    border: 3px solid var(--beige);
                    border-radius: 50%;
                    background-color: var(--nuovo);
                }
                .i-text{
                    margin-bottom: .5em;
                }
                .proyect-img{
                    width: 100%;
                    height: 150px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}