@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    /*COLORZ*/
    --white: #F4F4F4;
    --blue: #0A5575;
    --skyblue : #00B2FF;
    --nuovo: #151D20;
    /*FONTS*/
    --text: 'Montserrat', sans-serif;
    --title: 'Audiowide', cursive;
}