:root{
    /*COLORZ*/
    --magenta: #E50045;
    --azul: #00eeff;
    --beige: #ece2c6;
    --negro-1: #1f1f1f;
    --negro-2: #1d1d20;
    --blue: #081B29;
    --nuovo: #151D20;
    /*FONTS*/
    --text: 'Kodchasan', sans-serif;
    --intro: 'Audiowide', cursive;
    --text-cuadrado: 'Orbitron', sans-serif;
}
.text{
    font-family: var(--text);
    font-weight: 200;
    letter-spacing: 1px;
    color: #e0e0e0;
}
.t-text{
    @extend .text; 
    font-size: 26px; 
    text-align: start;
}
.i-text{
    @extend .text; 
    font-size: 16px;
}
.n-text{
    @extend .text; 
    font-size: 12px;
    text-align: justify;
}
.fusion{
    text-shadow: 2px 2px 2px var(--magenta),
                 -1px -1px 2px var(--azul);
}
.shadow{
    box-shadow: 0 5px 20px rgba($color: #000, $alpha: .5);
}
.btn{
    width: 150px;
    height: 50px;
    margin: 3em auto;
    background-color: transparent;
    border: 2px solid var(--beige);
    border-radius: 5px;
    cursor: pointer;
    a{
        color: var(--beige);
        text-decoration: none;
        font-family: var(--text);
        font-size: 18px;
        font-weight: 200;
    }
}