*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text);
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: var(--white);
}
section{
    width: 100%;
    padding: 0 1rem;
    padding-top: 4rem;
    background-color: var(--white);
}
@media (min-width: 1024px){
    section{
        padding: 0 2rem;
        padding-top: 8rem;
    }
}
@media (min-width: 1440px){
    body{
        width: 1440px;
        margin: auto;
    }
}