*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: var(--nuovo);
}
section{
    width: 100%;
    padding: 1em;
}