.title{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(10,85,117,1) 0%, rgba(7,107,149,1) 38%, rgba(5,134,189,1) 60%, rgba(3,151,215,1) 84%, rgba(0,178,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}